body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: 000;
	font-size: 16px;

}

h1 {
    font-size: 32px;
    font-weight: normal;
}

.header{
	height: 63px;
    flex-shrink: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #F7F7F7;
}

.exbold{
    font-weight: bolder;
}

.container{
    margin-left: 159px;
    margin-right: 159px;
}
#title_page{
    margin-top: 20px;
}

.header_table{
    background: #343A3F;
    height: 101px;
    flex-shrink: 0;
    color: white;
    font-weight: bolder;
    flex-direction: column;
}
.right_side{
    padding-right: 159px;
}
.left_side{
    padding-left: 159px;
}
table {
    border: none;
    width: 100%;
 }
/* Нечетные строки */
#table tbody tr:nth-child(odd){
	background: #fff;
}
 
/* Четные строки */
#table tbody tr:nth-child(even){
	background: #F2F2F2;
}
/* Подсвечиваем строки при наведении в таблице*/
tbody tr:hover {
    transform: scale(1);
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

td{
   padding: 25px 90px 25px 0px; 
 }

 .num{
    text-align: right;
 }

 /* Пагинация */
.pag{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.element{
    width: 35px;
    height: 27px;
    border-radius: 35px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    text-align: center;
    margin-right: 7px;
    padding-top: 8px;
    color: #969696
}
.arrow{
    padding: auto;
    padding-top: 2px;
}

.pag .element:hover {
    border: 1px solid #5C6166;
    background: #5C6166;
    color:#fff;
    fill:#fff;
    cursor: pointer;
}
.pag .element:hover path {
    stroke:#fff;
}

footer{
    height: 90px;
    background: #F7F7F7;
    padding-top: 20px;
    line-height: 30px;
}
.editArea{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    resize: none;
}

.view:hover{
    border-radius: 6px;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 17%);
    cursor: pointer;
}
/*Класс для изменяемости табличных данных*/

